.section-title {
    margin-bottom: 5rem;
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    font-style: italic;
    z-index: 1;

    @include lg-up {
        font-size: 2.6rem;
    }
    @include xl-up {
        font-size: 3.6rem;
    }
    @include xxl-up {
        font-size: 4rem;
        font-weight: 700;
    }
    &::before {
        content: '';
        position: absolute;
        top: 65%;
        transform: translateY(-50%);
        height: .05rem;
        background-color: $color__theme;
        width: 100%;
        left: 0;
        z-index: -1;
    }

    > span {
        background-color: var(--clr);
        padding: 0 1rem;
        @include xxl-up {
            padding: 0 2rem;
        }
    }
}