/*--------------------------------------------------------------
# Footer-block
--------------------------------------------------------------*/
footer {
    .footer-top {
        .cta-wrapper {
            background-color: #efedea;
            padding: 3rem;
        }
    }
    .footer-middle {
        padding: 8rem 0;
        .menu-widget {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 3rem 1rem;
            @include md-up {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
            @include lg-up {
                grid-template-columns: repeat(5, minmax(0, 1fr));
            }
        }
        .widget {
            .title {
                font-size: 1.6rem;
                font-weight: 500;
                margin-bottom: 1.5rem;
            }
            ul {
                li {
                    & + li {
                        margin-top: 1.5rem;
                    }
                    a {
                        padding: .3rem 0;
                        transition: all .15s ease;
                        &:hover {
                            color: $color__theme;
                        }
                    }
                }
            }

            .social-icons {
                a {
                    font-size: 1.8rem;
                    margin-right: 1rem;
                    transition: all .15s ease;
        
                    &:hover {
                        color: $color__theme;
                    }
                }
            }
        }
    }
    .footer-bottom {
        background-color: $color__black;
        padding: 1rem 0;

        p {
            font-size: 1.2rem;
        }
    }
}