header {
    padding: 2rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    background-color: $color__white;
    transition: all .25s;
    
    &.sticky {
        box-shadow: 0 0 1rem 0 rgba($color__black, .1);
    }

    nav {
        gap: 2rem;
        .main-menu {
            display: flex;
            align-items: center;
            gap: 2.5rem;

            > li {
                > a {
                    font-weight: 500;

                    &:hover {
                        color: $color__theme;
                    }
                }
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 2rem;

            a {
                font-weight: 500;
            }
        }
    }
    .offcanvas__toggler {
        border: .1rem solid $color__theme;
        padding: .35rem 1rem;
        background-color: transparent;
        font-size: 2rem;
        border-radius: .5rem;
        color: $color__theme;

        @include lg-up {
            display: none;
        }
    }
}

.offcanvas__menu {
    position: fixed;
    top: 0;
    left: -32rem;
    bottom: 0;
    width: 30rem;
    background-color: $color__white;
    z-index: 1024;
    box-shadow: 0 0 1rem 0 rgba($color__black, .1);
    transition: all .2s ease;

    &.shown {
        left: 0;
    }
    .menu-header {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            width: 3rem;
            height: 3rem;
            @include flex-center;
            background-color: $color__theme;
            color: $color__white;
            border: 0;
            border-radius: .2rem;
        }
    }

    .main-menu {
        margin-top: 3rem;
        padding: 2rem;
        .menu-title {
            font-weight: 600;
            border-bottom: .1rem solid $color__theme;
            padding: .8rem .8rem .5rem;
            text-transform: uppercase;
            background-color: rgba($color__theme, .1);
            border-radius: .3rem;
        }
        li {
            margin: 1.5rem 0;
            a {
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: .5rem 0;
            }
        }
    }
}