.heroSlider {
    .swiper-slide {
        min-height: 80rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.brands {
    padding: 3rem 0;
}