.lifestyle-banner {
    .swiper-slide {
        height: 25rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include sm-up {
            height: 35rem;
        }
        @include md-up {
            height: 40rem;
        }
        @include lg-up {
            height: 50rem;
        }
        @include xl-up {
            height: 60rem;
        }
    }
}

.lifestyle_display {
    padding: 8rem 0;
    background-color: #F7F6F5;
    .row {
        --bs-gutter-x: 3rem;
        --bs-gutter-y: 3rem;
        justify-content: center;
        
        @include xxl-up {
            --bs-gutter-x: 6rem;
            --bs-gutter-y: 6rem;
        }
    }
    .lifestyle-item {
        .thumbnail {
            border: .1rem solid $color__black;
            height: 32rem;
            > a {
                position: absolute;
                inset: 0;
                @include flex-center;
            }
        }
        .caption {
            border-radius: .8rem;
            @include lg-up {
                margin: 0 4rem;
            }
        }
        &:hover {
            .thumbnail {
                border-color: $color__theme;
            }
        }
    }
}