.filter_preowned_bikes {
    background-color: #EAE8E5;
    padding: 2rem;
    margin-bottom: 5rem;

    .button-group {
        display: flex;
        align-items: stretch;
        gap: 2rem;
        button {
            flex: 1;
            border-radius: 0;
            min-height: 4.6rem;
        }
    }
    select {        
        font-weight: 500;
        min-height: 4.6rem;
    }
}